@using Banko.Client.Models.User
@using Banko.Client.Services.User
@using MudBlazor.Utilities

@inject UserStateService UserState
@inject LoadingService LoadingService
@inject AuthenticationStateProvider AuthStateProvider
@inject LoadingService LoadingService

<LoadingIndicator />

<CascadingAuthenticationState>
  <Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
      <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
        <NotAuthorized>
          <RedirectToLogin />
        </NotAuthorized>
        <Authorizing>
          <p>Checking authorization...</p>
        </Authorizing>
      </AuthorizeRouteView>
      <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>

    <NotFound>
      <PageTitle>Not found</PageTitle>
      <LayoutView Layout="@typeof(MainLayout)">
        <p role="alert">Sorry, there's nothing at this address.</p>
      </LayoutView>
    </NotFound>
  </Router>
</CascadingAuthenticationState>

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@IsDark" Theme="MyCustomTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
  private bool IsDark;

  private MudThemeProvider? _mudThemeProvider;
  MudTheme MyCustomTheme = new MudTheme()
  {
    PaletteLight = new PaletteLight()
    {
      Primary = Colors.LightBlue.Darken1,
      Secondary = Colors.Indigo.Darken2,
      @* Surface = new MudColor(Colors.Blue.Lighten5).SetAlpha(0.1).ToString(MudColorOutputFormats.RGBA), *@
      Surface = Colors.Blue.Lighten5,
      TextPrimary = Colors.Gray.Darken4,
      @* TextDisabled = Colors.Gray.Darken1, *@
      DrawerText = Colors.Gray.Lighten1,
      DrawerIcon = Colors.Gray.Lighten1,
      LinesInputs = Colors.Gray.Darken2,
      Divider = Colors.Gray.Darken2,
      TableLines = Colors.Gray.Darken1,
      @* ActionDefault = "rgba(255, 255, 255, 0.17)", *@
      @* ActionDisabledBackground = "rgba(255, 255, 255, 0.12)", *@
      @* RippleOpacitySecondary = 0.80, *@
      @* HoverOpacity = 0.80, *@
      LinesDefault = Colors.Gray.Darken2,
      AppbarBackground = "#000d1a",
      Background = "#000d1a",
    },
    PaletteDark = new PaletteDark()
    {
      Primary = Colors.LightBlue.Lighten5,
      Secondary = Colors.Indigo.Darken3,
      Dark = Colors.LightBlue.Darken4,
      Info = Colors.Blue.Accent1,
      AppbarBackground = Colors.Red.Lighten5,
      TextDisabled = Colors.Gray.Darken1,
      Surface = "#092f52",
      @* ActionDefault = "rgba(255, 255, 255, 0.17)",
      ActionDisabledBackground = "rgba(255, 255, 255, 0.12)",
      RippleOpacitySecondary = 0.40, *@
    },
    LayoutProperties = new LayoutProperties()
    {
      DrawerWidthRight = "300px",
    }
  };
  protected override async Task OnInitializedAsync()
  {
    LoadingService.IsLoading = true;
    var authState = await AuthStateProvider.GetAuthenticationStateAsync();
    if (authState.User.Identity?.IsAuthenticated == true)
    {
      await UserState.LoadUserDataAsync();
      IsDark = UserState.Preference.Theme;
    }
    LoadingService.IsLoading = false;
    UserState.OnUserStateChanged += OnUserStateChanged;
  }

  private void OnUserStateChanged()
  {
    IsDark = UserState.Preference.Theme;
    StateHasChanged();
  }

  public void Dispose()
  {
    UserState.OnUserStateChanged -= OnUserStateChanged;
  }
}